In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split

In [119]:
df = pd.read_csv('../../datasets/titanic.csv')
df.head(7)

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500
5         0       3    male  27.0                 0                 0   8.4583
6         0       1    male  54.0                 0                 0  51.8625

In [120]:
# if male 1 else female 0
df['Sex'] = list((lambda sex: map (lambda e: 1 if e == 'male' else 0, sex))(df['Sex']))

In [121]:
df.head(7)

   Survived  Pclass  Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    1  22.0                 1                 0   7.2500
1         1       1    0  38.0                 1                 0  71.2833
2         1       3    0  26.0                 0                 0   7.9250
3         1       1    0  35.0                 1                 0  53.1000
4         0       3    1  35.0                 0                 0   8.0500
5         0       3    1  27.0                 0                 0   8.4583
6         0       1    1  54.0                 0                 0  51.8625

In [122]:
feature = df[['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
target = df['Survived'].values
x_train, x_test, y_train, y_test = train_test_split(feature, target,test_size=.3, random_state=23)

In [123]:
knn_model = KNeighborsClassifier(n_neighbors=3)
knn_model.fit(x_train, y_train)
svm_model = SVC(kernel='linear', C=3)
svm_model.fit(x_train, y_train)

SVC(C=3, kernel='linear')

In [124]:
knn_model.score(x_test, y_test)

0.6966292134831461

In [125]:
svm_model.score(x_test, y_test)

0.7715355805243446